*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Trebuchet MS';
    user-select: none;
}
header{
    background-color: rgb(74, 168, 168);
    padding: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 120%;
}
.rightPanel{
    display: flex;
    justify-content: space-around;
    width: 300px;
}
.icon{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant-emoji: text;
}
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    color: black;
}
nav{
    background-color: rgb(47, 110, 110);
    padding: 20px;
    color: white;
}
select, input{
    width: 190px;
    padding: 5px;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    border-radius: 7px;
}
#flightForm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}
.field{
    font-size: 27px;
    display: flex;
}
#find{
    background-color: rgb(74, 168, 168);
    border: 2px solid white;
    color: white;
    font-weight: bold;
}
#find:hover{
    background-color: rgb(44, 95, 95);
    cursor: pointer;
}
#back{
    width: 70px;
    height: 70px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 0.7;
}
#back:hover{
    opacity: 1;
}
.flight{
    background-color: white;
    width: 600px;
    height: 200px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(182, 182, 186, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(182, 182, 186, 1);
    box-shadow: 0px 0px 20px 0px rgba(182, 182, 186, 1);
    margin: 35px;
    padding: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    text-align: center;
}
.flex h4{
    font-size: 30px;
}
.center{
    text-align: center;
}
.center2{
    text-align: center;
    line-height: 150%;
}
h6{
    font-size: 50px;
}
.flight img{
    margin-bottom: 20px;
    height: 20px;
}
.time{
    color: darkcyan;
}
.price{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 32px;
    margin-right: 10px;
    text-align: right;
}
.price h3{
    font-size: 25px;
}
.flight:hover{
    -webkit-box-shadow: 0px 0px 20px 0px darkgray;
    -moz-box-shadow: 0px 0px 20px 0px darkgray;
    box-shadow: 0px 0px 20px 0px darkgray;
}
.summarize h3{
    margin: 0;
}
.summarize div{
    font-size: 12px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price a{
    text-decoration: none;
    color: black;
}
.price a:hover{
    color: rgb(47, 110, 110);
}
h2{
    margin-top: 50px;
}